<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> This is a weather application that can be used to
        display current weather condition in any area that you
        want to search 😉
        </p>
        <form>
            <input type="text" placeholder="Location">
            <button type="submit">Submit</button>
        </form>
        <p id="msg_1"></p>
        <p id="msg_2"></p>
        <p id="msg_3"></p>
        <p id="msg_4"></p>
    </div>
    {{>footer}}
</body>
</html>